#simulation {
  float: left;
  /* width: 600px;
  height: 400px; */
  background-color: #dff;
  border: 2px solid white;
  margin: 4px;
}

#bar {
  background-color: #def;
  border: 2px solid white;
  margin: 4px;
  clear: both;
}

.node {
  fill: #008;
  stroke:#000;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}

.arrow{
		stroke-width:2;
		stroke:#999;
}

.arrowHead{
		stroke-width:4;
		stroke:#de0;
    fill:#de0;
}
#arrowtip{
		stroke-width:4;
		stroke-dasharray:0;
}
