<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}   {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{if hasmathjax}} {{insert head_mathjax.html}} {{end}}
  {{insert style.html}}

  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  <!---title>Atiyab's Blog</title>--->
  <meta property="og:title" content="Physicsing" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:site_name" content="Atiyab's Blog" />

  <!link rel="stylesheet" href="/css/normalize.css">
  <!link rel="stylesheet" href="/css/main.css">
  {{if hascytoscape}}
    {{insert head_cytoscape.html}}
  {{end}}
  <!-- PLOTLY -->
  {{if hasplotly}}
  <script src="/libs/plotly/plotly.min.js"></script> 
  <script>
	const PlotlyJS_json = async (div, url) => {
    response = await fetch(url); 
    fig = await response.json(); 
    if (typeof fig.config === 'undefined') { fig["config"]={} };
    delete fig.layout.width;
    delete fig.layout.height;
    fig["layout"]["autosize"] = true;
    fig["config"]["autosizable"] = true;
    fig["config"]["responsive"] = true;
    fig.config["scrollZoom"] = false;
    delete fig.config.staticPlot;
    delete fig.config.displayModeBar;
    delete fig.config.doubleClick;
    delete fig.config.showTips;

    Plotly.newPlot(div, fig);
    };
  </script>
  {{end}}

</head>
<body>
<!---{{insert nav.html}}--->
<!--{{insert header.html}}-->
{{insert masthead.html}}
<main class="page-content" aria-label="Content">
  <div class="wrapper">

    {{ispage index.html}}
    <div class="home">
      <div class="initial-content">
        <div class="page__hero--overlay"
          style="background-color: #5e616c; background-image: url('/assets/network.jpg');">
          <div class="wrapper">
            <h1 id="page-title" class="page__title" itemprop="headline">Physicsing</h1>
            <p class="page__lead">Singing the tune of the universe</p>
          </div>
        </div>
    {{end}}

    <!-- {{isnotpage index.html}}
    <article class="post">
      <header class="post-header">
        <h3 class="post-title">{{title}}</h3>
      </header>
      <div class="post-content">
    {{end}}-->
    
<!-- Content appended here -->

